HOST=0.0.0.0
PORT=1337
APP_KEYS=llaveSecreta1,llaveSecreta2,llaveSecreta3,llaveSecreta4
API_TOKEN_SALT=unTextoAleatorioCualquiera1
ADMIN_JWT_SECRET=unTextoAleatorioCualquiera2
TRANSFER_TOKEN_SALT=unTextoAleatorioCualquiera3
JWT_SECRET=unTextoAleatorioCualquiera4